{% load static %}



<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dom Bambino's</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>{% include 'componentes/header/header.html' %}
    <section class="first-section" id="first-section">
        <div class="conteudo-principal">
            <h1>Deixe seu dia mais saboroso!</h1>
            <h2>As pízzas mais saborosas da região dos lagos!</h2>

            <div class="btn">
                <button type="reservar" id="reservar">Reserve a sua</button>
                <button type="montar" id="montar">Montar a sua</button>

            </div>
        </div>
    </section>

    <section class="sobre-section" id="sobre-section">
        <div class="conteudo-principal">
            <div class="text-img">
                <div class="text">

                    <p>A paixão da nossa família por pizzas e massas vem de décadas de tradição e amor compartilhado em
                        torno da mesa. Em 2021, decidimos transformar esse amor em realidade e nasceu a Dom Bambino's.

                        Cada pizza que servimos é uma homenagem aos valores que nos moldaram: dedicação, qualidade e
                        tradição. Da nossa família para a sua, seja bem-vindo à Dom Bambino's, onde cada fatia é uma
                        celebração do amor pela comida e pela vida. Agradecemos por nos permitir fazer parte da sua
                        jornada
                        gastronômica.
                    </p>
                </div>
                <div class="assinatura">
                    <div>
                        <img src="{% static 'assets/assinatura.png' %}">
                    </div>
                </div>

            </div>
            <div class="img">
                <img src="{% static 'assets/cozinha.jpg' %}" class="sobre-img" alt="logo">
            </div>
        </div>

    </section>
    <section class="cardapio-section" id ="cardapio-section">
        <div class="conteudo-principal">
            <h2 class="cardapio">CARDÁPIO</h2>
            <div class="itens-cardapio">
                <ul>
                    {% for pizza in pizzas %}
                    <div class="card">
                        <h2 class="title">{{ pizza.sabor }}</h2>
                        <img src="{{ pizza.foto.url }}" alt="Foto da Pizza" class="img-pizza">
                        <p class="preco">Preço: R$ {{ pizza.preco }}</p>
                        <form action="{% url 'home' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id_produto" value="{{ pizza.id }}">
                            <input type="hidden" name="preco_produto" value="{{ pizza.preco }}">
                            <button type="button" class="btn addCarrinho">Adicionar no carrinho</button>
                        </form>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>




</body>
<script async src="{% static 'scripts.js' %}"></script>


</html>